---
layout: layout.liquid
title: Random Number Generator
---

<h1>Random Number Generator</h1>
<div x-data="{
    names: ['Joe', 'Bob', 'Sarah', 'Brie', 'Mason', 'Rebecca', 'Austin', 'Alex', 'Jamie', 'Steve'],
    random: null
}">
    <button x-on:click="random = names[Math.floor(Math.random() * names.length)]">Generate a Random Name</button>
    <h1 x-text="random"></h1>
</div>